<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="{{ .Site.BaseURL }}/feed.xml"><i style="font-size: 2em; color: Grey;" class="fas fa-rss"
                        aria-hidden="true"></i></a>
                <a href="//github.com/spielhuus/elektrophon"><i style="font-size: 2em; color: Grey;"
                        class="fab fa-github grey" aria-hidden="true"></i></a>
                <a href="//youtube.com"><i style="font-size: 2em; color: Grey;" class="fab fa-youtube grey"
                        aria-hidden="true"></i></a>
                <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"
                    title="Creative Commons Attribution 4.0 International license">
                    <i style="font-size: 2em; color: Grey;" class="fab fa-creative-commons"></i>
                </a>
            </div>
            <p>
                Except where otherwise <a href="https://creativecommons.org/policies#license">noted</a>,
                content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/"
                    rel="license">Creative Commons Attribution 4.0 International license</a>.<br>
            </p>
        </div>
    </div>
</footer>
