{{$allparams := .Params }}
{{ $name := .Get 0 }}
{{ $drc := int (index .Site.Data.report $name ).summary.drc }}
{{ $erc := int (index .Site.Data.report $name ).summary.erc }}
{{ $unconnected := int (index .Site.Data.report $name ).summary.unconnected }}
{{ $unit_passed := int (index .Site.Data.report $name ).summary.unit_test.passed }}
{{ $num_tests := int (index .Site.Data.report $name ).summary.unit_test.num_tests }}

{{ if or (gt $drc 0) (gt $drc 0) (gt $unconnected 0) (ne $unit_passed $num_tests ) }}
<h1 class="subtitle" id="tests">tests</h1>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Code</th>
            <th>Sheet</th>
            <th>X</th>
            <th>Y</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

    {{ if gt $unconnected 0 }}
    {{ range $board := $allparams }}
    {{ if eq $board (index $allparams 0) }}
    <!-- if it is, do nada -->
    {{else}}
        {{ range $item := (index (index $.Site.Data.report $name ) $board).unconnected }}
        <tr>
            <td rowspan="2">unconnected</td>
            <td rowspan="2">{{ $item.code }}</td>
            <td rowspan="2">{{ $item.sheet }}</td>
            {{ range $index, $pos := $item.con }}
            {{ if (gt $index 0) }}<tr>{{ end }}
            <td>{{ $pos.x }}</td>
            <td>{{ $pos.y }}</td>
            <td>{{ $pos.message }}</td>
            {{ if (gt $index 0) }}</tr>{{ end }}
            {{ end }}
        </tr>
        {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
        
    {{ if gt $erc 0 }}
    {{ range $board := $allparams }}
    {{ if eq $board (index $allparams 0) }}
    <!-- if it is, do nada -->
    {{else}}
        {{ range $item := (index (index $.Site.Data.report $name ) $board).erc }}
        <tr>
            <td>erc</td>
            <td>{{ $item.code }}</td>
            <td>{{ $item.sheet }}</td>
            {{ range $index, $pos := $item.con }}
            {{ if (gt $index 0) }}<tr>{{ end }}
            <td>{{ $pos.x }}</td>
            <td>{{ $pos.y }}</td>
            <td>{{ $pos.message }}</td>
            {{ if (gt $index 0) }}</tr>{{ end }}
            {{ end }}
        </tr>
        {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if gt $drc 0 }}
    {{ range $board := $allparams }}
    {{ if eq $board (index $allparams 0) }}
    <!-- if it is, do nada -->
    {{else}}
        {{ range $item := (index (index $.Site.Data.report $name ) $board).drc }}
        <tr>
            <td rowspan="2">drc</td>
            <td rowspan="2">{{ $item.code }}</td>
            <td rowspan="2">{{ $item.sheet }}</td>
            {{ range $index, $pos := $item.con }}
            {{ if (gt $index 0) }}<tr>{{ end }}
            <td>{{ $pos.x }}</td>
            <td>{{ $pos.y }}</td>
            <td>{{ $pos.message }}</td>
            {{ if (gt $index 0) }}</tr>{{ end }}
            {{ end }}
        </tr>
        {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if ne $unit_passed $num_tests }}
    {{ range $item := (index $.Site.Data.report $name ).unit_test.report.tests }}
    {{ if ne $item.outcome "passed" }}
    <tr>
        <td>unit</td>
        <td></td>
        <td>{{ index (last 1 (split (delimit (split $item.name ":") "," "") ",")) 0 }}</td>
        <td></td>
        <td></td>
        <td>{{ replace $item.call.longrepr "\n" "<<br>>" | safeHTML }}</td>
    </tr>
    {{ end }}
    {{ end }}
    {{ end }}

    </tbody>
</table>
{{ end }}


