{{ define "main" }}
{{ if (isset .Params "excerpt") }}
<div class="column is-12">
    <div class="container has-text-centered">
        <div class="content has-text-centered is-size-5 is-italic has-text-weight-medium">
            {{ .Params.excerpt }}
        </div>
    </div>
</div>
{{ end }}

<div class="column is-12">
    <div class="container">
        <div class="content">
            {{ .Content }}
            {{ if (isset .Params "references") }}
            <h2 class="is-subtitle">references</h2>
            <ul>
                {{ range .Params.references }}
                <li><strong><a href="{{ .url }}">{{ .title }}</a></strong>&nbsp;{{ .description }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}