{{ define "main" }}
{{ if (isset .Params "excerpt") }}
<div class="column is-12">
    <div class="container has-text-centered">
        <div class="content has-text-centered is-size-5 is-italic has-text-weight-medium">
            {{ .Params.excerpt | safeHTML }}
        </div>
    </div>
</div>
{{ end }}

<div class="column is-12">
    <div class="container">
        <div class="content">
            {{ if eq .Params.Version 0 }}
            <article class="message is-info">
                <div class="message-header">
                    <p>Danger</p>
                </div>
                <div class="message-body">
                    This is a work in progress module and might not work as expected. Feel free to file a bug report on the <a href="https://github.com/spielhuus/elektrophon">github</a> page.
                </div>
            </article>
            {{ end }}
        </div>
    </div>
</div>

<div class="column is-12">
    <div class="container">
        <div class="content">
            {{ .Content }}
            {{ if (isset .Params "todo") }}
            <h2 class="is-subtitle">TODO</h2>
            <table class="table table is-striped table is-hoverable table is-fullwidth">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:80%">
                        <thead>
                    <tr>
                      <th>Date</th>
                      <th>Title</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                {{ range .Params.todo }}
                <tr><td>{{ dateFormat "2 Jan 2006" .date }}</td><td><strong>{{ .title }}</strong></td><td>{{ .description }}</td></tr>
                {{ end }}
            </table>
            {{ end }}
            {{ if (isset .Params "history") }}
            <h2 class="is-subtitle">History</h2>
            <table class="table table is-striped table is-hoverable table is-fullwidth">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:80%">
                <thead>
                    <tr>
                      <th>Rev.</th>
                      <th>Date</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                {{ range .Params.history }}
                <tr><td>{{ .revision }}</td><td><strong>{{ dateFormat "2 Jan 2006" .date }}</strong></td><td>{{ .description }}</td></tr>
                {{ end }}
            </table>
            {{ end }}
            {{ if (isset .Params "references") }}
            <h2 class="is-subtitle">References</h2>
            <ul>
                {{ range .Params.references }}
                <li><strong><a href="{{ .url }}">{{ .title }}</a></strong>&nbsp;{{ .description }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}