{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
---
{% for key, value in nb.metadata.FrontMatter.items() %}{{key}}: {{value}}
{% endfor %}
---
{{ '\n' }}
{%- endblock header -%}

{%- block body_header -%}
{%- endblock body_header -%}

{% block body_footer %}
{% endblock body_footer %}

{% block footer %}
{% endblock footer %}

