{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
{%- endblock header -%}

{%- block body_header -%}
{%- endblock body_header -%}

{% block body_footer %}
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{% endblock footer %}

