<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="{{ .Site.BaseURL }}/feed.xml" class="mx-1"><i style="font-size: 1.6em; color: White;" class="fas fa-rss"
                        aria-hidden="true"></i></a>
                <a href="//github.com/spielhuus/elektrophon" class="mx-1"><i style="font-size: 1.6em; color: White;"
                        class="fab fa-github grey" aria-hidden="true"></i></a>
                <a href="//youtube.com" class="mx-1"><i style="font-size: 1.6em; color: White;" class="fab fa-youtube"
                        aria-hidden="true"></i></a>
                <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" class="mx-1"
                    title="Creative Commons Attribution 4.0 International license">
                    <i style="font-size: 1.6em; color: White;" class="fab fa-creative-commons"></i>
                </a>
            </div>
            <p>
                <a href="https://creativecommons.org/licenses/by/4.0/" class="has-text-white is-size-7"
                   rel="license">Creative Commons Attribution 4.0 International license</a>.<br>
            </p>
        </div>
    </div>
</footer>
