<style scoped>
  .hero_title {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover; 
      {{ if .IsHome }}
      {{ $ressource := (print "images/elektrophon-logo.jpg") }}
      {{- $image := resources.Get $ressource -}}
      {{ with $image }}
        background-image: url({{ (.Resize "1280x").Permalink }}); 
      {{ end }}

      {{ else if isset .Params "hero_image" }}      
      {{ $ressource := (print "images/" .Params.hero_image) }}
      {{- $image := resources.Get $ressource -}}
      {{ with $image }}
        background-image: url({{ (.Resize "1280x").Permalink }}); 
      {{ end }}

      {{ else if (or (eq .Params.Title "module") (eq .Params.Title "article") (eq .Params.Title "about")) }}   
      {{ $ressource := (print "images/" .Params.Title ".jpg") }}
      {{- $image := resources.Get $ressource -}}
      {{ with $image }}
        background-image: url({{ (.Resize "1280x").Permalink }}); 
      {{ end }}
      
      {{ else }}
      {{ $ressource := (print "images/default.jpg") }}
      {{- $image := resources.Get $ressource -}}
      {{ with $image }}
        background-image: url({{ (.Resize "1280x").Permalink }}); 
      {{ end }}
      {{ end }}
  }
  @media (max-width: 980px) {
      .hero {
        {{ if .IsHome }}
        {{ $ressource := (print "images/elektrophon-logo_mobile.jpg") }}
        {{- $image := resources.Get $ressource -}}
        {{ with $image }}
          background-image: url({{ (.Resize "1280x").Permalink }}); 
        {{ end }}
  
        {{ else if isset .Params "hero_image" }}      
        {{ $ressource := (print "images/" .Params.hero_mobile ) }}
        {{- $image := resources.Get $ressource -}}
        {{ with $image }}
          background-image: url({{ (.Resize "1280x").Permalink }}); 
        {{ end }}
  
        {{ else if (or (eq .Params.Title "module") (eq .Params.Title "article") (eq .Params.Title "about")) }}   
        {{ $ressource := (print "images/" .Params.Title "_mobile.jpg") }}
        {{- $image := resources.Get $ressource -}}
        {{ with $image }}
          background-image: url({{ (.Resize "1280x").Permalink }}); 
        {{ end }}
        
        {{ else }}
        {{ $ressource := (print "images/default_mobile.jpg") }}
        {{- $image := resources.Get $ressource -}}
        {{ with $image }}
          background-image: url({{ (.Resize "1280x").Permalink }}); 
        {{ end }}
        {{ end }}
        }
  }
</style>

<section class="hero {{ if isset .Params "hero_image" }}is-fullheight{{ end }} hero_title">
  {{ if isset .Params "hero_image" }}
  {{ end }}
  <div class="hero-head hero-darken">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="{{ .Site.BaseURL }}/" class="navbar-item title has-text-white">{{ .Site.Title }}</a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a class="navbar-item has-text-white" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
            {{ end }}
            <a class="navbar-item has-text-white" href="{{ .Site.BaseURL }}/about/"><span>about</span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body hero-darken">
    <div class="container adjust">
      {{ if in .Params.Categories "module" }}
        {{ $drc := int (index .Site.Data.report .Params.Title ).summary.drc }}
        {{ $erc := int (index .Site.Data.report .Params.Title ).summary.erc }}
        {{ $unconnected := int (index .Site.Data.report .Params.Title ).summary.unconnected }}
        <div class="field is-grouped is-hidden-mobile">
          <div class="control">
            <div class="tags has-addons is-normal">
              {{ if eq .Params.Version 0 }}
              <span class="tag is-dark">status</span>
              <span class="tag is-warning">Draft</span>
              {{ else }}
              <span class="tag is-dark">Version </span>
              <span class="tag is-success">{{ .Params.version }}</span>
              {{ end }}
            </div>
          </div>

          {{ if eq $drc 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">drc</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
            <a class="tags has-addons is-normal" href="#tests">
              <span class="tag is-dark">drc</span>
              <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.drc }}</span>
            </a>
          </div>
          {{ end }}

          {{ if eq $erc 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">erc</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
              <a class="tags has-addons is-normal" href="#tests">
                <span class="tag is-dark">erc</span>
                <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.erc }}</span>
            </a>
          </div>
          {{ end }}

          {{ if eq $unconnected 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">unconnected</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
              <a class="tags has-addons is-normal" href="#tests">
              <span class="tag is-dark">unconnected</span>
              <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.unconnected }}</span>
            </a>
          </div>
          {{ end }}

          {{ if (isset (index .Site.Data.report .Params.Title ).summary "unit_test") }}
            {{ $num_tests := int (index .Site.Data.report .Params.Title ).summary.unit_test.num_tests }}
            {{ $test_passed := int (index .Site.Data.report .Params.Title ).summary.unit_test.passed }}
              {{ if eq $test_passed $num_tests }}
            <div class="control">
              <div class="tags has-addons is-normal">
                <span class="tag is-dark">Test:</span>
                <span class="tag is-success">{{ $test_passed }}/{{ $num_tests }}</span>
              </div>
            </div>
            {{ else }}
            <div class="control">
                <a class="tags has-addons is-normal" href="#tests">
                <span class="tag is-dark">Test:</span>
                <span class="tag is-danger">{{ $test_passed }}/{{ $num_tests }}</span>
              </a>
            </div>
            {{ end }}
          {{ end }}

          <div class="control">
            <a class="tags has-addons is-normal"
              href="https://github.com/spielhuus/elektrophon/tree/master/content/{{ .Params.Title }}">
              <span class="tag is-dark"><i class="fab fa-github" aria-hidden="true"></i></span>
              <span class="tag is-link">github</span>
            </a>
          </div>
        </div>
      {{ end }}
      <!-- end tags-->

      {{ if and (not .IsHome) (isset .Params "title") }}
          <h1 class="title is-size-3 has-text-white">{{ replace  .Params.Title "_" " " }}</h1>
      {{ end }}
        {{ if isset .Params "subtitle" }}
        <p class="has-text-white is-size-5 has-text-weight-semibold">{{ .Params.subtitle }}</p>
        {{ end }}
    </div>
  </div>
</section>