{{ if or (isset .Params "hero_image") (eq .Params.Title "module") (eq .Params.Title "article") }}
<style scoped>
  .hero_title {
      no-repeat center center; 
      background-size: cover; 
      {{ if isset .Params "hero_image" }}
      background-image: url({{ .Site.BaseURL }}/{{ .Params.hero_image}}); 
      {{ else }}
      background-image: url({{ .Site.BaseURL }}/{{ .Params.Title }}.jpg); 
      {{ end }}
  }
  @media (max-width: 980px) {
      .hero {
          background-image: url({{ .Site.BaseURL }}/{{ .Params.hero_mobile}});
      }
  }
</style>
{{ else if eq .Params.Title "module" }}
<style scoped>
  .hero_title {
      no-repeat center center; 
      background-size: cover; 
      background-image: url('/modules.jpg'); 
  }
  @media (max-width: 980px) {
      .hero {
          background-image: url('');
      }
  }
</style>
{{ end }}

<section class="hero {{ if isset .Params "hero_image" }}is-fullheight{{ end }} hero_title">
  {{ if isset .Params "hero_image" }}
  <!-- img class="hero-background is-transparent is-dark" src="{{ .Site.BaseURL }}/{{ .Params.hero_image}}"/ -->
  {{ end }}
  <div class="hero-head hero-darken">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="{{ .Site.BaseURL }}/" class="navbar-item title is-size-3 has-text-white">{{ .Site.Title }}</a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a class="navbar-item has-text-white" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
            {{ end }}
            <a class="navbar-item has-text-white" href="{{ .Site.BaseURL }}/about/"><span>about</span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body hero-darken">
    <div class="columns is-multiline">
      <!-- start tags-->
      {{ if in .Params.Categories "module" }}
      <div class="column is-8 is-offset-2 is-hidden-mobile">
        {{ $drc := int (index .Site.Data.report .Params.Title ).summary.drc }}
        {{ $erc := int (index .Site.Data.report .Params.Title ).summary.erc }}
        {{ $unconnected := int (index .Site.Data.report .Params.Title ).summary.unconnected }}
        <div class="field is-grouped">
          <div class="control">
            <div class="tags has-addons is-normal">
              {{ if eq .Params.Version 0 }}
              <span class="tag is-dark">status</span>
              <span class="tag is-warning">Draft</span>
              {{ else }}
              <span class="tag is-dark">Version </span>
              <span class="tag is-success">{{ .Params.version }}</span>
              {{ end }}
            </div>
          </div>

          {{ if eq $drc 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">drc</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">drc</span>
              <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.drc }}</span>
            </div>
          </div>
          {{ end }}

          {{ if eq $erc 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">erc</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">erc</span>
              <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.erc }}</span>
            </div>
          </div>
          {{ end }}

          {{ if eq $unconnected 0 }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">unconnected</span>
              <span class="tag is-success">ok</span>
            </div>
          </div>
          {{ else }}
          <div class="control">
            <div class="tags has-addons is-normal">
              <span class="tag is-dark">unconnected</span>
              <span class="tag is-danger">{{ (index .Site.Data.report .Params.Title ).summary.unconnected }}</span>
            </div>
          </div>
          {{ end }}

          {{ if (isset (index .Site.Data.report .Params.Title ).summary "unit_test") }}
            {{ $num_tests := int (index .Site.Data.report .Params.Title ).summary.unit_test.num_tests }}
            {{ $test_passed := int (index .Site.Data.report .Params.Title ).summary.unit_test.passed }}
              {{ if eq $test_passed $num_tests }}
            <div class="control">
              <div class="tags has-addons is-normal">
                <span class="tag is-dark">Test:</span>
                <span class="tag is-success">{{ $test_passed }}/{{ $num_tests }}</span>
              </div>
            </div>
            {{ else }}
            <div class="control">
              <div class="tags has-addons is-normal">
                <span class="tag is-dark">Test:</span>
                <span class="tag is-danger">{{ $test_passed }}/{{ $num_tests }}</span>
              </div>
            </div>
            {{ end }}
          {{ end }}

          <div class="control">
            <a class="tags has-addons is-normal"
              href="https://github.com/spielhuus/elektrophon/tree/master/content/{{ .Params.Title }}">
              <span class="tag is-dark"><i class="fab fa-github" aria-hidden="true"></i></span>
              <span class="tag is-link">github</span>
            </a>
          </div>
        </div>
      </div>
      {{ end }}
      <!-- end tags-->

      {{ if not .IsHome }}
      <div class="column is-8 is-offset-2">
        {{ if isset .Params "title" }}
        <h1 class="title is-size-3 has-text-white">{{ replace  .Params.Title "_" " " }}</h1>
        {{ end }}
      </div>
      {{ end }}
      <div class="column is-8 is-offset-2">
        {{ if isset .Params "subtitle" }}
        <p class="has-text-white is-size-4 has-text-weight-semibold">{{ .Params.subtitle }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</section>