{{ $paginator := .Paginator }}
{{ $adjacent_links := 1 }}
{{ $lower_gap := add $adjacent_links 3 }}
{{ $upper_gap := sub $paginator.TotalPages (add $adjacent_links 2) }}
{{ $lower :=  (sub $paginator.PageNumber $adjacent_links) }}
{{ $upper :=  (add $paginator.PageNumber $adjacent_links) }}
{{ $min_links := (add (mul $adjacent_links 2) 3) }}

{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {{ if $paginator.HasPrev }}
    <a class="pagination-previous">Previous</a>
    {{ end }}
    {{ if $paginator.HasNext }}
      <a class="pagination-next" href="{{ $paginator.Next.URL }}">Next</a>
    {{ end }}

    <ul class="pagination-list">
      {{ range $paginator.Pagers }}
      {{ if gt $paginator.TotalPages $min_links }}
        {{ $.Scratch.Set "page_number_flag" false }}
        {{ if eq .PageNumber 1 }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

        {{ if eq .PageNumber 2 }}
          {{ if gt $paginator.PageNumber $lower_gap }}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          {{ else if eq $paginator.PageNumber $lower_gap }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}
        {{ end }}

        {{ if and (ge .PageNumber $lower) (le .PageNumber $upper) }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

        {{ if eq .PageNumber (sub $paginator.TotalPages 1) }}
          {{ if lt $paginator.PageNumber $upper_gap }}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
          {{ else if eq $paginator.PageNumber $upper_gap }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}
        {{ end }}

        {{ if eq .PageNumber $paginator.TotalPages }}
          {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}

      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li><a class="pagination-link {{ if eq . $paginator }} is-current{{ end }}" aria-label="Goto page 1" href="{{ .URL }}">{{ .PageNumber }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }} 
