<div class="column is-4">
  <div class="card">
    <div class="card-image">
      <a href="{{ .RelPermalink }}">
        <figure class="image is-4by3">
          {{ $ressource := (print "images/" .Params.image) }}
          {{- $image := resources.Get $ressource -}}
          {{ with $image }}
            <img src="{{ (.Resize "320x").Permalink }}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
          {{ end }}
        </figure>
      </a>
    </div>
    <div class="card-content">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <h4><a href="{{ .RelPermalink }}">{{ replace  .Params.Title "_" " " }}</a></h4>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            {{ range $name := .Params.Categories }}
            <span class="tag is-light"><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></span>
            {{ end }}
            </div>
        </div>
      </nav>
      <p>{{ .Params.subtitle }}</p>
    </div>
  </div>
</div>
