---
title: elektrophon
layout: default
hero_image: /assets/elektrophon-logo.jpg
hero_height: is-fullheight
hero_darken: false
hero_title: false
hero_subtitle: false
---

<section class="hero is-halfheight is-black">
<div class="hero-body has-text-centered">
    <div class="container title">
        &#8220;{{ site.description }}&#8221;
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column {{ content_width }}">
              <h2 class="subtitle">latest updates</h2>
              <div class="columns is-multiline">
                  {% for post in site.posts limit:6 %}
                      {% include card.html %}
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
<section>

<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %}" style="background: url('{{ '/assets/elektrophon.jpg' | relative_url }}') no-repeat center center; background-size: cover; background-attachment: fixed;">
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column {{ content_width }}">
                If you want to know more about the elektrophon visit the articles and modules pages. The modules contain all the information to build them yourself.
                When you do so, you do it at your own risk and and you are responsible yourself if you hurt yourself with electricity or burn your house down. 
                The hope you can get is that i have successfully building them and it did not harm my house at all.
            </div>
        </div>
    </div>
<section>

