<table class="table is-striped is-hoverable is-narrow">
<thead>
    <tr>
        <td> # </td>
        <td> reference </td>
        <td> value </td>
        <td></td>
        <td> description </td>
    </tr>    
</thead>
<tbody>
    {% for item in site.data[include.content] %}
    <tr>
        <td> {{ item.Quantity_Per_PCB }} </td>
        <td> {{ item.References }} </td>
        <td> {{ item.Value }} </td>
        <td>
            {% assign datasheet = item.Datasheet | strip_newlines %}
            {% if datasheet != "~" %}
            <a href="{{ datasheet }}"><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td> {{ item.Description }} </td>
    </tr>
    {% endfor %}
</tbody>
</table>