{% for project in site.data.elektrophon[page.title] %}
{% if project[1]['bom'] %}
<div class="content">
<h2 class="is-subtitle">BOM: {{ project[0] }}</h2>
<table class="table is-striped is-hoverable is-narrow bom">
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:1%">
        <col style="width:49%">
    <thead>
    <tr>
        <td> #</td>
        <td> reference </td>
        <td> value </td>
        <td></td>
        <td> description </td>
    </tr>    
</thead>
<tbody>
    {% for item in project[1].bom %}
    <tr>
        <td> {{ item.Quantity_Per_PCB }} </td>
        <td> {{ item.References }} </td>
        <td> {{ item.Value }} </td>
        <td>
            {% assign datasheet = item.Datasheet | strip_newlines %}
            {% if datasheet != "~" %}
            <a href="{{ datasheet }}"><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td> {{ item.Description }} </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endfor %}
