<div key="{{ post.title | escape }}" class="column is-4">
    <div class="card large">
        <div class="card-image">
            <figure class="image is-16by9">
                <a href="{{ post.url }}"><img src="{{ post.image | relative_url }}" alt="Image"></a>
            </figure>
        </div>
        <div class="card-content">
            <div class="media-content">
                <a href="{{ post.url }}" class="title is-4 no-padding">{{ post.title }}</a>
            </div>
            <div class="content">
                {{ post.excerpt }}
            </div>
        </div>
    </div>
</div>