<footer class="footer mt-6">
  <div class="columns">
    <div class="column is-one-third">
      <div>
        <h1 class="subtitle has-text-white is-10">{{ site.title}}</h1>
      </div>
      {% if site.data.navigation %}
      <div>
        <ul>
          {% for item in site.data.navigation %}
          <li>
            <a href="{{ item.link | relative_url }}" class="is-size-6 has-text-white">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="column is-one-third">
      <div class="content has-text-centered">
        <a style="font-size: 2em; color: White;" href="{{ site.baseurl }}/feed.xml" target="_blank">
          <i class="fas fa-rss"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: White;" href="//github.com/spielhuus/elektrophon" target="_blank">
          <i class="fab fa-github grey"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: White;" href="//twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: White;" href="//twitter.com" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p class="is-size-6 has-text-white has-text-centered">{{ site.description }}</p>
    </div>
    <div class="column is-one-third">
      <div class="is-size-6 has-text-white has-text-right">
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"
          title="Creative Commons Attribution 4.0 International license">
          <i style="font-size: 2em; color: White;" class="fab fa-creative-commons"></i>
          <i style="font-size: 2em; color: White;" class="fab fa-creative-commons-by"></i>
        </a>
      </div>
      <div class="content is-size-7 has-text-white has-text-right mt-5">
        <p>Except where otherwise <a href="https://creativecommons.org/policies#license">noted</a>,
          content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/"
            rel="license">Creative Commons Attribution 4.0
            International license</a>.</p>
      </div>
    </div>
  </div>
</footer>