<!--footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div>
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
          The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
      </div>
    </div>
  </footer -->

<!-- footer class="footer">
<data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="content has-text-centered">
    <div class="columns">
    <div class="column is-half has-background-dark">
        <p class="feed-subscribe">
        <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
        </a>
        </p>
    {%- if site.author %}
        <ul class="contact-list">
        {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
        {% endif -%}
        {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        {%- endif %}
        </ul>
    {%- endif %}
    </div>
    <div class="column is-primary">
        <p>{{ site.description | escape }}</p>
    </div>
    </div>

    <div class="column is-primary">
    {%- include social.html -%}
    </div>
</div>
</footer -->

<hr>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a style="font-size: 2em; color: darkgrey;" href="//github.com/spielhuus/elektrophon" target="_blank">
          <i class="far envelope"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: darkgrey;" href="//github.com/spielhuus/elektrophon" target="_blank">
          <i class="fab fa-github grey"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: darkgrey;" href="//twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        &nbsp;
        <a style="font-size: 2em; color: darkgrey;" href="//twitter.com" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </p>
      <p>
        <strong>{{ site.title }}</strong><span>{{ site.description }}</span>
        {%- if site.author %}
        <ul class="contact-list">
        {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
        {% endif -%}
        {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        {%- endif %}
        </ul>
        {%- endif %}

        <a href="https://jgog.in" target="_blank">Jenil Gogari</a>.
        <br> Based on
        <a href="https://bulma.io" target="_blank" onclick="ga('send', 'event', 'footer', 'click', 'bulma');">Bulma</a>.
        Icons from
        <a href="https://fontawesome.com/" target="_blank"
          onclick="ga('send', 'event', 'footer', 'click', 'font-awesome');">Font Awesome</a>. Web Fonts from
        <a href="https://fonts.google.com/" target="_blank"
          onclick="ga('send', 'event', 'footer', 'click', 'google');">Google</a>.
        <br> The source code is licensed
        <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
      </p>
    </div>
  </div>
</footer>