<nav class="navbar">
  <div class="container">
      <div class="navbar-brand">
          <a href="{{ site.baseurl }}/" class="navbar-item">
              {{ site.title }}
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
              {% if site.data.navigation %}
              {% for item in site.data.navigation %}
                  <span class="navbar-item {% if item.link == page.url %}is-active{% endif %}">
                    <a class="button is-small is-white is-outlined" href="{{ item.link | relative_url }}">
                        <span>{{ item.name }}</span>
                    </a>
                </span>
              {% endfor %}
              {% endif %}
          </div>
      </div>
  </div>
</nav>