<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image | relative_url }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-head {% if page.hero_darken %} hero-darken {% endif %}">
        {% include header.html %}
    </div>

    <div class="hero-body is-full {% if page.hero_darken %} hero-darken {% endif %}">
        {% if page.hero_title %} <div class="title is-lowercase has-text-centered">{{ page.title }} {% endif %}</div><br/>
        {% if page.hero_subtitle %} <div class="is-subtitle has-text-centered">{{ page.subtitle }}</div> {% endif %}
    </div>
</section>