{% if page.hero_image %}
<style scoped>
.hero_title {
    no-repeat center center; 
    background-size: cover; 
    background-attachment: fixed;
    background-image: url({{ page.hero_image | relative_url }}); 
}
@media (max-width: 980px) {
    .hero {
        background-image: url({{ page.hero_mobile | relative_url }});
    }
}
</style>
{% endif %}

<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} hero_title">
    <div class="hero-head {% if page.hero_darken %} hero-darken {% endif %}">
        {% include header.html %}
    </div>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">        
        <!-- div class="columns is-centered">
            <div class="column is-two-thirds" -->
                {% if page.hero_tags %}
                <div class="is-hidden-mobile mb-6">{% include tags.html%}</div>
                {% endif %}
                {% if page.hero_title == true %}
                <h1 class="title has-text-white is-size-3">{{ page.title }}</h1>
                {% endif %}
                {% if page.hero_subtitle == true %}
                    <div class="has-text-white is-size-4">{{ page.subtitle }}</div>
                {% endif %}
                {% if page.toc == true %}
                    <div class="mt-4 has-text-weight-semibold">{% toc %}</div>
                {% endif %}          
            <!-- /div>
        </div -->
    </div>
</section>
