{% if page.hero_image %}
<style scoped>
.hero {
    no-repeat center center; 
    background-size: cover; 
    background-attachment: fixed;
    background-image: url({{ page.hero_image | relative_url }}); 
}
@media (max-width: 980px) {
    .hero {
        background-image: url({{ page.hero_mobile | relative_url }});
    }
}
</style>
{% endif %}

<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %}">
    <div class="hero-head {% if page.hero_darken %} hero-darken {% endif %}">
        {% include header.html %}
    </div>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="content has-text-centered">
            {% if page.hero_title %} <div class="title is-lowercase has-text-white-ter">{{ page.title }} {% endif %}</div>
            {% if page.hero_subtitle %}<div class="subtitle has-text-white-ter">{{ page.subtitle }}</div> {% endif %}
        </div>
    </div>
</section>