<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarElekrophon">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarElekrophon" class="navbar-menu">
    <div class="navbar-end">
      <a href="/modules.html" class="navbar-item">
        modules
      </a>

      <a href="/articles.html" class="navbar-item">
        articles
      </a>

      <a href="/about.html" class="navbar-item">
        about
      </a>

    </div>
  </div>
</nav>