<div>
    {% for pcb in site.data[include.content] %}
    {% for report in pcb.reports %}
    {% assign report_count = report.messages | size %}
    {% assign total_count = total_count | plus: report_count %}
    {% endfor %}
    {% endfor %}

    {% unless total_count == 0 %}
    {% for pcb in site.data[include.content] %}
    {% for report in pcb.reports %}
    {% assign report_count = report.messages | size %}
    {% unless report_count == 0 %}
    <div class="is-2 has-text-danger">
        <i class="fas fa-exclamation-circle"></i>
        found {{ report.messages | size }} errors in {{ report.name }} check.
    </div>
    <div class="content">
        <table class="report is-bordered has-background-danger-light">
        {% for message in report.messages %}
            <tr>
                <td>{{ pcb.name }}</td>
                <td>{{ message.message | strip_newlines }}</td>
                <td>
                {% for con in message.con %}
                    <p>{{ con.message | strip_newlines }}</p>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endunless %}
{% endfor %}
{% endfor %}
{% endunless %}
