{% assign erc_count=0 %}
{% assign drc_count=0 %} 
{% assign unconnected_count=0 %}
{% assign pytest_count=0 %}
{% assign pytest_failed=0 %}

{% for project in site.data.elektrophon[page.title] %}
{% if project[0] == 'test' %}
{% assign pytest_failed = pytest_failed | plus:project[1]['report']["summary"]["passed"] %}
{% assign pytest_count = pytest_count | plus:project[1]['report']["summary"]["num_tests"] %}
{% endif %}
{% endfor %}

{% for project in site.data.elektrophon[page.title] %}
{% if project[1]['erc'] %}
{% assign report_count = project[1]['erc'] | size %}
{% assign erc_count = erc_count | plus:report_count %}
{% endif %}
{% if project[1]['drc'] %}
{% assign report_count = project[1]['drc'] | size %}
{% assign drc_count = drc_count | plus:report_count %}
{% endif %}
{% if project[1]['unconnected'] %}
{% assign report_count = project[1]['unconnected'] | size %}
{% assign unconnected_count = unconnected_count | plus:report_count %}
{% endif %}
{% endfor %}


{% if pytest_count > 0 %}
<div class="container is-large mt-1 mb-0">
    {% unless pytest_failed == pytest_count %}
    <div class="has-background-danger pl-2 pt-2 pb-2">
        <i class="fas fa-exclamation-circle has-text-white is-size-2"></i>
        <span class="has-text-white is-size-4">&nbsp;&nbsp;Found {{ pytest_failed }} error(s) in pytest check.</span>
    </div>
    <table class="table is-striped is-hoverable is-narrow mb-6">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:70%">
        {% for reports_data in site.data[pytest] %}
        {% for report in reports_data %}
        {% for test in report.tests %}
            <tr>
                <td>{{ test.name | regex_replace: 'tmp.*\.py::', '' }}</td>
                <td class="{% if test.outcome=='passed' %} is-success-dark {% else %} has-text-danger-dark {% endif %}">{{ test.outcome }}</td>
                {% assign report_rep = '-' %}
                {% if test.outcome == "failed" %}
                {% assign report_rep = test["call"]["longrepr"] %}
                {% assign report_rep = report_rep | regex_replace: '>', '&lt;' %}
                {% assign report_rep = report_rep | regex_replace: '<', '&gt;' %}
                {% assign report_rep = report_rep | regex_replace: '\n', '<br/>' %}
                {% endif %}
                <td>{{ report_rep }}</td>
            </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </table>
    {% endunless %}
</div>
{% endif %}    

{% unless erc_count == 0 %}
<div class="has-background-danger pl-2 pt-2 pb-2">
    <i class="fas fa-exclamation-circle has-text-white is-size-2"></i>
    <span class="has-text-white is-size-4">&nbsp;&nbsp;Found {{ erc_count }} errors in erc check.</span>
</div>
<div class="container is-large mt-1 mb-0">
    {% for project in site.data.elektrophon[page.title] %}
    {% if project[1]['erc'] %}
    <table class="table is-striped is-hoverable is-narrow nb-6">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:70%">
        {% for err in project[1]['erc'] %}
        <tr>
            <td>{{ project[0] }}</td>

            <td>{{ err.message | strip_newlines }}</td>
            <td>
            {% for con in err.con %}
                <p>{{ con.message | strip_newlines }}</p>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}    
</div>
{% endunless %}

{% unless drc_count == 0 %}
<div class="has-background-danger pl-2 pt-2 pb-2">
    <i class="fas fa-exclamation-circle has-text-white is-size-2"></i>
    <span class="has-text-white is-size-4">&nbsp;&nbsp;Found {{ drc_count }} errors in drc check.</span>
</div>
<div class="container is-large mt-1 mb-0">
    {% for project in site.data.elektrophon[page.title] %}
    {% if project[1]['drc'] %}
    <table class="table is-striped is-hoverable is-narrow nb-6">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:70%">
        {% for err in project[1]['drc'] %}
        <tr>
            <td>{{ project[0] }}</td>

            <td>{{ err.message | strip_newlines }}</td>
            <td>
            {% for con in err.con %}
                <p>{{ con.message | strip_newlines }}</p>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}    
{% endunless %}

{% unless unconnected_count == 0 %}
<div class="has-background-danger pl-2 pt-2 pb-2">
    <i class="fas fa-exclamation-circle has-text-white is-size-2"></i>
    <span class="has-text-white is-size-4">&nbsp;&nbsp;Found {{ erc_count }} errors in unconnected check.</span>
</div>
<div class="container is-large mt-1 mb-0">
    {% for project in site.data.elektrophon[page.title] %}
    {% if project[1]['unconnected'] %}
    <table class="table is-striped is-hoverable is-narrow nb-6">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:70%">
        {% for err in project[1]['unconnected'] %}
        <tr>
            <td>{{ project[0] }}</td>

            <td>{{ err.message | strip_newlines }}</td>
            <td>
            {% for con in err.con %}
                <p>{{ con.message | strip_newlines }}</p>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}    
{% endunless %}
