{% assign erc_count=0 %}
{% assign drc_count=0 %} 
{% assign unconnected_count=0 %}
{% assign pytest_count=0 %}
{% assign pytest_failed=0 %}

{% assign pytest = page.project | append: "-test" %}
{% for reports_data in site.data[pytest] %}
{% for report in reports_data %}
{% assign pytest_failed = pytest_failed | plus:report["summary"]["failed"] %}
{% assign pytest_count = pytest_count | plus:report["summary"]["num_tests"] %}
{% endfor %}
{% endfor %}

{% assign kibot = page.project | append: "_kibot_data" %}
{% for pcb in site.data[kibot] %}
  {% for report in pcb.reports %}
    {% if report.name == 'erc' %}
      {% for sheet in report.sheets %}
        {% assign report_count = sheet.messages | size %}
        {% assign erc_count = erc_count | plus:report_count %}
      {% endfor %}
    {% elsif report.name == 'drc' %}
      {% assign report_count = report.messages | size %}
      {% assign drc_count = drc_count | plus:report_count %}
    {% elsif report.name == 'unconnected' %}
      {% assign report_count = report.messages | size %}
      {% assign unconnected_count = unconnected_count | plus:report_count %}
    {% endif %}    
  {% endfor %}
{% endfor %}

<div class="field is-grouped">
  <div class="control">
    <div class="tags has-addons is-normal">
      {% if page.status == 'draft' %}
      <span class="tag is-dark">status</span>
      <span class="tag is-warning">{{ page.status }}</span>
      {% else %}
      <span class="tag is-dark">Version </span>
      <span class="tag is-success">{{ page.version }}</span>
      {% endif %}    
    </div>
  </div>

  {% if pytest_count > 0 %}
  {% if pytest_failed == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">test</span>
      <span class="tag is-success">OK</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">test</span>
      <span class="tag is-danger">{{ pytest_failed }}/{{ pytest_count }}</span>
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if drc_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">drc</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">drc</span>
      <span class="tag is-danger">{{ drc_count }}</span>
    </div>
  </div>
  {% endif %}

  {% if erc_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">erc</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">erc</span>
      <span class="tag is-danger">{{ erc_count }}</span>
    </div>
  </div>
  {% endif %}

  {% if unconnected_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">unconnected</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">unconnected</span>
      <span class="tag is-danger">{{ unconnected_count }}</span>
    </div>
  </div>
  {% endif %}

    <div class="control">
      <a class="tags has-addons is-normal" href="https://mybinder.org/v2/gh/spielhuus/elektrophon/HEAD?filepath=content%2F{{ include.content }}%2F{{ include.content }}.ipynb">
        <span class="tag is-dark">launch</span>
        <span class="tag is-link">binder</span>
      </a>
    </div>

    <div class="control">
      <a class="tags has-addons is-normal" href="https://github.com/spielhuus/elektrophon/tree/master/content/{{ page.project }}">
        <span class="tag is-dark"><i class="fab fa-github" aria-hidden="true"></i></span>
        <span class="tag is-link">github</span>
      </a>
    </div>
</div>
