{% assign erc_count=0 %}
{% assign drc_count=0 %} 
{% assign unconnected_count=0 %}
{% assign pytest_count=0 %}
{% assign pytest_failed=0 %}

{% for project in site.data.elektrophon[page.title] %}
{% if project[0] == 'test' %}
{% assign pytest_failed = pytest_failed | plus:project[1]['report']["summary"]["passed"] %}
{% assign pytest_count = pytest_count | plus:project[1]['report']["summary"]["num_tests"] %}
{% endif %}
{% endfor %}

{% for project in site.data.elektrophon[page.title] %}
{% if project[1]['erc'] %}
{% assign report_count = project[1]['erc'] | size %}
{% assign erc_count = erc_count | plus:report_count %}
{% endif %}
{% if project[1]['drc'] %}
{% assign report_count = project[1]['drc'] | size %}
{% assign drc_count = drc_count | plus:report_count %}
{% endif %}
{% if project[1]['unconnected'] %}
{% assign report_count = project[1]['unconnected'] | size %}
{% assign unconnected_count = unconnected_count | plus:report_count %}
{% endif %}
{% endfor %}

<div class="field is-grouped">
  <div class="control">
    <div class="tags has-addons is-normal">
      {% if page.status == 'draft' %}
      <span class="tag is-dark">status</span>
      <span class="tag is-warning">{{ page.status }}</span>
      {% else %}
      <span class="tag is-dark">Version </span>
      <span class="tag is-success">{{ page.version }}</span>
      {% endif %}    
    </div>
  </div>

  {% if pytest_count > 0 %}
  {% if pytest_failed == pytest_count %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">test</span>
      <span class="tag is-success">{{ pytest_failed }}/{{ pytest_count }}</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">test</span>
      <span class="tag is-danger">{{ pytest_failed }}/{{ pytest_count }}</span>
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if drc_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">drc</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">drc</span>
      <span class="tag is-danger">{{ drc_count }}</span>
    </div>
  </div>
  {% endif %}

  {% if erc_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">erc</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">erc</span>
      <span class="tag is-danger">{{ erc_count }}</span>
    </div>
  </div>
  {% endif %}

  {% if unconnected_count == 0 %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">unconnected</span>
      <span class="tag is-success">ok</span>
    </div>
  </div>
  {% else %}
  <div class="control">
    <div class="tags has-addons is-normal">
      <span class="tag is-dark">unconnected</span>
      <span class="tag is-danger">{{ unconnected_count }}</span>
    </div>
  </div>
  {% endif %}

    <div class="control">
      <a class="tags has-addons is-normal" href="https://github.com/spielhuus/elektrophon/tree/master/content/{{ page.project }}">
        <span class="tag is-dark"><i class="fab fa-github" aria-hidden="true"></i></span>
        <span class="tag is-link">github</span>
      </a>
    </div>
</div>
