---
layout: default
---

<div class="is-section">
    <div class="container is-12">
        <a href="/article/basics"><span class="tag is-link is-normal">basics</span></a>
        <a href="/article/cmos"><span class="tag is-link is-normal">cmos</span></a>
        <a href="/article/filter"><span class="tag is-link is-normal">filter</span></a>
        <a href="/article/electronics"><span class="tag is-link is-normal">electronics</span></a>
        <a href="/article/rack"><span class="tag is-link is-normal">rack</span></a>
    </div>
</div>

<div class="section">
    {{ content }}
</div>

<div class="column is-12">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="columns is-multiline">
        {% for post in paginator.posts %}
            {% include card.html %}
        {% endfor %}
    </div>
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="column is-12">
        {% include subscribe.html %}
    </div>
</div>
