<!DOCTYPE html>
<html {% if site.fixed_navbar %} class="has-navbar-fixed-{{ site.fixed_navbar }}" {% endif %}>
  {% include head.html %}
  <body>
    {% unless page.hide_hero %}
      {% include hero.html %}
    {% endunless %}
    {% unless page.excerpt == '' %}
    <div class="section">
      <div class="container">
        <div class="content has-text-centered is-size-5 is-italic has-text-weight-medium">
          {{ page.excerpt }}
        </div>
      </div>
    </div>
    {% endunless %}
    {{ content }}
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    {%- include footer-scripts.html -%}
  </body>
</html>
