---
layout: default
---

<section class="hero is-primary">
  <div class="hero-body ">
    <div class="container">
      <h1 class="title">{{ site.title }}</h1>
      <h2 class="subtitle">{{ site.description }}</h2>
    </div>
  </div>
</section>

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

  <div id="app" class="row columns is-multiline">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}

  <div key="{{ post.title | escape }}" class="column is-4">
    <div class="card large">
      <div class="card-image">
        <figure class="image is-16by9">
          <a href="{{ post.url }}"><img src="assets/{{ post.logo }}" alt="Image"></a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media-content">
          <!-- div class="media-left">
            <figure class="image is-48x48">
              <img :src="card.avatar" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 no-padding">{{post.title}}</p>
            <p>
              <span class="title is-6">
                <a :href=`http://twitter.com/${card.user.handle}`> {{card.user.handle}} </a> </span> </p -->
            <a href="{{ post.url }}" class="title is-4 no-padding">{{post.title}}</a>
            <!-- p class="subtitle is-6">{{post.excerpt}}</p -->
          </div>
        <!-- /div -->
        <div class="content">
          {{post.excerpt}}
          <!-- div class="background-icon"><span class="icon-twitter"></span></div -->
        </div>
      </div>
    </div>
  </div>
  {%- endfor -%}
  </div>

<!--
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
-->
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
