---
layout: default
---

{% assign project = page.title | append: "_kibot_data" %}
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-fullheight {% endif %}" {% if page.hero_image %} style="background: url('{{ page.hero_image | relative_url }}') no-repeat center center; background-size: cover; background-attachment: fixed;" {% endif %}>
    <div class="hero-head {% if page.hero_darken %} hero-darken {% endif %}">
        {% include header.html %}
    </div>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">        
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                {% include tags.html content=project %}
                <h1 class="title has-text-white-ter">{{ page.title }}</h1>        
                <p class="subtitlle has-text-white-ter">{{ page.excerpt }}</p>
                <div class="has-text-white-ter">{% toc %}</div>
            </div>
        </div>
    </div>
</section>

{{ content }}
