---
layout: default
---

<div class="is-section  mt-6">
    <div class="container is-12">
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
        {% assign zz = tag[1] | where: "category", "module" | sort %}
        {% if zz != empty %}
        <a href="{{ site.baseurl }}/module/{{ tag[0] }}/index.html"><span class="tag is-link is-normal">{{ tag[0] }}</span></a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="section">
    {{ content }}
</div>

<div class="column is-12">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="columns is-multiline">
        {% for post in paginator.posts %}
            {% include card.html %}
        {% endfor %}
    </div>
    <div class="column is-12">
        {% include pagination.html %}
    </div>
</div>
