.navbar-brand {
    font: 36px Heebo;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
    opacity: 0.8;
}
